<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<h3>Comments (<%= @article.comments.size %>)</h3>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<%= render partial: 'comments/form' %>

<%= render partial: 'articles/comment', collection: @article.comments %>



<p><%= link_to "<< Back to Articles List", articles_path %></p>
<p><%= link_to "edit", edit_article_path(@article) %></p>
<p><%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %></p>
